body {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 3% 15% 4%;
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
}

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar section */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* download-button section */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title section*/

.image-container {
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width:1201px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Features section */

#features {
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
}

.column-container {
    padding: 0 3%;
}

.icons {
    color: #ef8172;
    font-size: xxx-large;
    margin: 0 0 1rem;
}

.icons:hover {
    color: #ff4c68;
}

.features-title {
    font-size: 1.5rem;
    font-weight: bold;

}

.features-content {
    color: #8f8f8f;
    padding: 0 3%;

}

/* testimonials section*/

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.carousel-item {
    padding: 3% 15%;
}

/* Press section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action section */
#cta {
    background-color: #ff4c68;
    padding: 3% 15% 4%;
    text-align: center;
}

.cta-title {
    color: #fff;
    font-weight: bold;
    font-size: 3.1rem;
}

/* footer section*/

#footer {
    background-color: #fff;
    text-align: center;
    padding: 3% 15% 7%;

}

.copyright {
    color: #8f8f8f;
    font-size: small;
}

.social-icon {
    margin: 20px 10px;
}